.loundry-logo{
height:150px;
border-radius:360px;
margin-left:40%;
margin-top: 15%;
}

   


.lon{
    margin-left:10%;
}
.log{
    height:60px;
    width:332px;
    box-shadow: 2px 2px 12px rgb(197, 191, 191);
    margin-left:28%;
margin-top: 15%;

border-radius:5px;
background:#F6F6F6;
}
.k{
    height:100%;width:100%;
    font-size:18px;
    font-weight:bold;
}
.f{
    margin-left: 40px;
}

.logg{
    height:60px;
    border-radius:90px;
}
